<div class="flex flex-col mx-5 my-1">
  <h1 class="text-3xl">Bienvenido a la App de wow de Citronela</h1>
  <section>
    <h2 class="text-2xl">Que puedo encontrar aquí</h2>
    <p>
      Encontraras información sobre los personajes de
      <a class="text-accent underline" href="https://es.wikipedia.org/wiki/World_of_Warcraft">World of Warcraft</a>
      de los miembros de Citronela
    </p>
    <p>También podrás ver tus personajes y su información si te loggeas en el battle.net</p>
    <img class="my-3 mx-3" src="./assets/images/warcraft-world-of-warcraft.gif">
  </section>
</div>

